@import url("var.css");
@import url("font.css");

@media(max-width: 1735px) {
    .section__contacts-address,
    .section__contacts-one-click,
    .section__contacts-wrapper-form {
        margin-left: 50px;
    }

     .section__contacts-right-block,
     .section__contacts-map-wrapper,
     .section__contacts-ymap-container {
        max-width: 1065px;
        width: 100%;
        min-height: 700px;
     }
}
