@import url("/course-work/css/var.css");
@import url("/course-work/css/font.css");

@media(max-width:500px){
    .section__edition-right-block {
        padding-left: 55px;
    }

    .list-edition__item-card {
        max-width: 350px;
    }

    .list-edition__title-price {
        flex-direction: column;
    }

    .section__projects-heading-text {
        max-width: 440px;
    }
}