:root {
/*цвет*/
    --blanchard-headertop-color: #000000;
    --blanchard-headerbottom-color: rgba(0, 0, 0, 0.1);
    --blanchard-header-gradient: linear-gradient(to bottom, var(--blanchard-headertop-color) 58.8%, var(--blanchard-headerbottom-color) 41.2%);
    --blanchard-text-color: #FFFFFF;
    --blanchard-border-input-color: rgba(255, 255, 255, 0.85);
    --blanchard-border-button-focus: rgba(194, 131, 243, 0.7);
    --blanchard-background-dropdown-color: rgba(0, 0, 0, 0.6);
    --blanchard-black-color: #000000;
    --blanchard-border-color-burger-signin: #9D5CD0;
    --blanchard-focus-element-color: #7943A4;
    --blanchard-hover-element-color: #c283f3;
    --blanchard-active-element-color: #7943A4;
    --blanchard-hover-button-color: #D1A9F0;
    --blanchard-heading2-color: #333333;
    --blanchard-slide-gallery-color: #666666;
    --blanchard-article-date-color: #999999;
    --blanchard-accordion-border: #CACACA;


/*размеры макета и компонентов*/
    --blanchard-body-width: 1920px;
    --blanchard-body-height: 7176px;
    --blanchard-container-width: 1603px;
    --blanchard-section-about-content-width: 1080px;
    --blanchard-section-about-content-height: 214px;
    --blanchard-header-height: 170px;
    --blanchard-header-logo-height: 39.9px;
    --blanchard-header-logo-width: 173px;
    --blanchard-header-signin-height: 25px;
    --blanchard-header-signin-width: 74px;
    --blanchard-header-search-width: 253px;
    --blanchard-header-search-height: 35px;
    --blanchard-header-search-input-width: 218px;
    --blanchard-header-artnav-arrow-metrics: 30px;
    --blanchard-header-dropdown-list-metrics: 300px;
    --blanchard-header-dropfown-item-width: 220px;
    --blanchard-header-dropfown-item-height: 40px;
    --blanchard-header-burger-menu-width: 36.7px;
    --blanchard-header-burger-menu-height: 26px;
    --blanchard-header-tablet-search-width: 36.18px;
    --blanchard-header-tablet-search-height: 35.5px;
    --blanchard-header-burger-open-width: 1024px;
    --blanchard-header-burger-open-height: 768px;
    --blanchard-header-burger-close-metrics: 29px;
    --blanchard-header-burger-sign-in-width: 257px;
    --blanchard-header-burger-sign-in-height: 60px;
    --blanchard-header-search-input-width: 218px;
    --blanchard-section-gallery-height: 995px;
    --blanchard-section-gallery-container-width: 1603px; 
    --blanchard-gallery-picture-metrics: 350px;
    --blanchard-gallery-select-height: 40px;
/*отступы внутренние и внешние*/
    --blanchard-padding-left-none: 0;
    --blanchard-padding-right-none: 0;
    --blanchard-margin-right-headerlist: 62px;
    --blanchard-padding-left-signin: 20px;
    --blanchard-padding-left-main-item-min: 5px;
    --blanchard-padding-left-search: 30px;
    --blanchard-margin-top-dropdown-list: 49px;
    --blanchard-padding-left-dropdown-item: 15px;
    --blanchard-padding-top-dropdown: 38px;
    --blanchard-margin-bottom-dropdown-bottom: 20px;
    --blanchard-margin-left-dropdown-firstitem: 0px;
    --blanchard-padding-left-search-input: 6px;
    --blanchard-margin-bottom-section: 80px;
    --blanchard-margin-bottom-heading: 30px;


/*трансформации*/
    --blanchard-rotate-45deg: rotate(-45deg);
    --blanchard-rotate-315deg: rotate(45deg);
    
/*проценты*/
    --blanchard-50-percentage: 50%;
    
/*изображения*/
    --blanchard-scale-image: url("/course-work/img/scale.svg");
    --blanchard-logo-desktop: url("/course-work/img/logo_desktop.svg");
    --blanchard-logo-tablet: url("/course-work/img/Blanchard_tablet.svg");
    --blanchard-logo-mobile: url("/course-work/img/logo_mobile.svg");
    --blanchard-entrance-desktop: url("/course-work/img/entrance_desktop.svg");
    --blanchard-entrance-desktop-hover: url("/course-work/img/entrance_desktop_hover.svg");
    --blanchard-entrance-desktop-active: url("/course-work/img/entrance_desktop_active.svg");
    --blanchard-entrance-tablet: url("/course-work/img/entrance_tablet.svg");
    --blanchard-entrance-tablet-active: url("/course-work/img/entrance_tablet_active.svg");
    --blanchard-entrance-mobile: url("/course-work/img/entrance__mobile.svg");
    --blanchard-search-desktop: url("/course-work/img/search_desktop.svg");
    --blanchard-search-desktop-hover: url("/course-work/img/search_desktop_hover.svg");
    --blanchard-search-tablet: url("/course-work/img/Search_tablet.svg");
    --blanchard-search-tablet-focus: url("/course-work/img/Search_tablet_focus.svg");
    --blanchard-search-tablet-active: url("/course-work/img/Search_tablet_active.svg");
    --blanchard-search-mobile: url("/course-work/img/Search_mobile.svg");
    --blanchard-search-mobile-active: url("/course-work/img/search_mobile_active.svg");
    --blanchard-logo-576: url("/course-work/img/Blanchard_tablet_576.svg");
    --blanchard-hero-slide1: url("/course-work/img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg");
    --blanchard-hero-slide2: url("/course-work/img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 1.jpg");
    --blanchard-hero-slide3: url("/course-work/img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg");
    --blanchard-hero-slide1-tablet: url("/course-work/img/birmingham-museums-tablet-unsplash\ 2.jpg");
    --blanchard-hero-slide2-tablet: url("/course-work/img/birmingham-museums-tablet-unsplash\ 1.jpg");
    --blanchard-hero-slide3-tablet: url("/course-work/img/birmingham-museums-tablet-unsplash\ 3.jpg");
    --blanchard-edition-background-image-desktop: url("/course-work/img/editions__back.png");
    --blanchard-edition-background-image-desktop-tablet: url("/course-work/img/editions__back-tablet.png");
    --blanchard-hero-slide1-768: url("/course-work/img/birmingham-museums-768-unsplash\ 2.jpg");
    --blanchard-hero-slide2-768: url("/course-work/img/birmingham-museums-768unsplash\ 1.jpg");
    --blanchard-hero-slide3-768: url("/course-work/img/birmingham-museums-768unsplash\ 3.jpg");
    --blanchard-hero-slide1-mobile: url("/course-work/img/birmingham-museums-mobile-unsplash\ 2.jpg");
    --blanchard-hero-slide2-mobile: url("/course-work/img/birmingham-museums-mobile-unsplash\ 1.jpg");
    --blanchard-hero-slide3-mobile: url("/course-work/img/birmingham-museums-mobile-unsplash\ 3.jpg");
    --blanchard-gallery-background-img: url("/course-work/img/birmingham-museums-gallery.png");
    --blanchard-gallery-background-img-mobile: url("/course-work/img/birmingham-museums-trust-mobile.png");
    --blanchard-backgroundImage-accordion: url("/course-work/img/backgroundImageAccordion.svg");
    --blanchard-backgroundImage-accordion-mobile: url("/course-work/img/backgroundImageAccordion_mobile.svg");
    --blanchard-backgroundImage-accordion-hover: url("/course-work/img/backgroundImageAccordion_hover.svg");
    --blanchard-backgroundImage-accordion-hover-mobile: url("/course-work/img/backgroundImageAccordion_hover_mobile.svg");
    --blanchard-backgroundImage-accordion-active: url("/course-work/img/backgroundImageAccordion_active.svg");
    --blanchard-backgroundImage-accordion-active-mobile: url("/course-work/img/backgroundImageAccordion_active_mobile.svg");
    --blanchard-backgroundImage-accordion-click: url("/course-work/img/backgroundImageAccordion_click.svg");
    --blanchard-backgroundImage-accordion-click-mobile: url("/course-work/img/backgroundImageAccordion_click_mobile.svg");
    --blanchard-backgroundImage-events-event1: url("/course-work/img/event1.png");
    --blanchard-backgroundImage-events-event1-tablet: url("/course-work/img/events1_tablet.png");
    --blanchard-backgroundImage-events-event2: url("/course-work/img/event2.png");
    --blanchard-backgroundImage-events-event2-tablet: url("/course-work/img/events2_tablet.png");
    --blanchard-backgroundImage-events-event3: url("/course-work/img/event3.png");
    --blanchard-backgroundImage-events-event3-tablet: url("/course-work/img/events3_tablet.png");
    --blanchard-backgroundImage-events-event4: url("/course-work/img/event4.png");
    --blanchard-backgroundImage-events-event4-tablet: url("/course-work/img/events4_tablet.png");
    --blanchard-backgroundImage-events-event5: url("/course-work/img/event5.png");
    --blanchard-backgroundImage-events-event5-tablet: url("/course-work/img/events5_tablet.png");
    --blanchard-backgroundImage-events-event1-768: url("/course-work/img/events1_768.png");
    --blanchard-backgroundImage-events-event2-768: url("/course-work/img/events2_768.png");
    --blanchard-backgroundImage-events-event3-768: url("/course-work/img/events3_768.png");
    --blanchard-backgroundImage-events-event4-768: url("/course-work/img/events4_768.png");
    --blanchard-backgroundImage-events-event5-768: url("/course-work/img/events5_768.png");
    --blanchard-backgroundImage-edition-editio1: url("/course-work/img/edition1.png");
    --blanchard-backgroundImage-edition-editio1-tablet: url("/course-work/img/edition1_tablet.png");
    --blanchard-backgroundImage-edition-editio1-mobile: url("/course-work/img/edition1_mobile.png");
    --blanchard-backgroundImage-edition-editio2: url("/course-work/img/edition2.png");
    --blanchard-backgroundImage-edition-editio2-tablet: url("/course-work/img/edition2_tablet.png");
    --blanchard-backgroundImage-edition-editio2-mobile: url("/course-work/img/edition2_mobile.png");
    --blanchard-backgroundImage-edition-editio3: url("/course-work/img/edition3.png");
    --blanchard-backgroundImage-edition-editio3-tablet: url("/course-work/img/edition3_tablet.png");
    --blanchard-backgroundImage-edition-editio3-mobile: url("/course-work/img/edition3_mobile.png");
    --blanchard-backgroundImage-edition-editio4: url("/course-work/img/edition4.png");
    --blanchard-backgroundImage-edition-editio4-tablet: url("/course-work/img/edition4_tablet.png");
    --blanchard-backgroundImage-edition-editio4-mobile: url("/course-work/img/edition4_mobile.png");
    --blanchard-backgroundImage-edition-editio5: url("/course-work/img/edition5.png");
    --blanchard-backgroundImage-edition-editio5-tablet: url("/course-work/img/edition5_tablet.png");
    --blanchard-backgroundImage-edition-editio5-mobile: url("/course-work/img/edition5_mobile.png");
    --blanchard-backgroundImage-edition-editio6: url("/course-work/img/edition6.png");
    --blanchard-backgroundImage-edition-editio6-tablet: url("/course-work/img/edition6_tablet.png");
    --blanchard-backgroundImage-edition-editio6-mobile: url("/course-work/img/edition6_mobile.png");
    --blanchard-backgroundImage-edition-editio7: url("/course-work/img/edition7.png");
    --blanchard-backgroundImage-edition-editio7-tablet: url("/course-work/img/edition7_tablet.png");
    --blanchard-backgroundImage-edition-editio7-mobile: url("/course-work/img/edition7_mobile.png");
    --blanchard-partners-partner1: url("/course-work/img/partner1.png");
    --blanchard-partners-partner1-tablet: url("/course-work/img/partner1_tablet.png");
    --blanchard-partners-partner1-768: url("/course-work/img/partner1_768.png");
    --blanchard-partners-partner1-mobile: url("/course-work/img/partner1_mobile.png");
    --blanchard-partners-partner2: url("/course-work/img/partner2.png");
    --blanchard-partners-partner2-tablet: url("/course-work/img/partner2_tablet.png");
    --blanchard-partners-partner2-768: url("/course-work/img/partner2_768.png");
    --blanchard-partners-partner2-mobile: url("/course-work/img/partner2_mobile.png");
    --blanchard-partners-partner3: url("/course-work/img/partner3.png");
    --blanchard-partners-partner3-tablet: url("/course-work/img/partner3_tablet.png");
    --blanchard-partners-partner3-768: url("/course-work/img/partner3_768.png");
    --blanchard-partners-partner3-mobile: url("/course-work/img/partner3_mobile.png");
    --blanchard-partners-partner4: url("/course-work/img/partner4.png");
    --blanchard-partners-partner4-tablet: url("/course-work/img/partner4_tablet.png");
    --blanchard-partners-partner4-768: url("/course-work/img/partner4_768.png");
    --blanchard-partners-partner4-mobile: url("/course-work/img/partner4_mobile.png");
    --blanchard-partners-partner5: url("/course-work/img/partner5.png");
    --blanchard-partners-partner5-tablet: url("/course-work/img/partner5_tablet.png");
    --blanchard-partners-partner5-768: url("/course-work/img/partner5_768.png");
    --blanchard-partners-partner5-mobile: url("/course-work/img/partner5_mobile.png");
    --blanchard-partners-partner6: url("/course-work/img/partner6.png");
    --blanchard-partners-partner6-tablet: url("/course-work/img/partner6_tablet.png");
    --blanchard-partners-partner6-768: url("/course-work/img/partner6_768.png");
    --blanchard-partners-partner6-mobile: url("/course-work/img/partner6_mobile.png");
    --blanchard-partners-partner7: url("/course-work/img/partner7.png");
    --blanchard-partners-partner7-tablet: url("/course-work/img/partner7_tablet.png");
    --blanchard-partners-partner7-768: url("/course-work/img/partner7_768.png");
    --blanchard-partners-partner7-mobile: url("/course-work/img/partner7_mobile.png");
    --blanchard-partners-partner8: url("/course-work/img/partner8.png");
    --blanchard-partners-partner8-tablet: url("/course-work/img/partner8_tablet.png");
    --blanchard-partners-partner8-768: url("/course-work/img/partner8_768.png");
    --blanchard-partners-partner8-mobile: url("/course-work/img/partner8_mobile.png");
    --blanchard-partners-partner9: url("/course-work/img/partner9.png");
    --blanchard-partners-partner9-tablet: url("/course-work/img/partner9_tablet.png");
    --blanchard-partners-partner9-768: url("/course-work/img/partner9_768.png");
    --blanchard-partners-partner9-mobile: url("/course-work/img/partner9_mobile.png");
    --blanchard-catalog-flag1: url("/course-work/img/flag1.svg");
    --blanchard-catalog-flag1-mobile: url("/course-work/img/flag1_mobile.svg");
    --blanchard-catalog-flag2: url("/course-work/img/flag2.svg");
    --blanchard-catalog-flag2-mobile: url("/course-work/img/flag2_mobile.svg");
    --blanchard-catalog-flag3: url("/course-work/img/flag3.svg");
    --blanchard-catalog-flag3-mobile: url("/course-work/img/flag3_mobile.svg");
    --blanchard-catalog-flag4: url("/course-work/img/flag4.svg");
    --blanchard-catalog-flag4-mobile: url("/course-work/img/flag4_mobile.svg");
    --blanchard-catalog-flag5: url("/course-work/img/flag5.svg");
    --blanchard-catalog-flag5-mobile: url("/course-work/img/flag5_mobile.svg");
    --blanchard-image11-desktop: url("/course-work/img/image11.jpg");
    --blanchard-image12-desktop: url("/course-work/img/image12.jpg");
    --blanchard-image13-desktop: url("/course-work/img/image13.jpg");
    --blanchard-image14-desktop: url("/course-work/img/image14.jpg");
    --blanchard-image21-desktop: url("/course-work/img/image21.jpg");
    --blanchard-image22-desktop: url("/course-work/img/image22.jpg");
    --blanchard-image23-desktop: url("/course-work/img/image23.jpg");
    --blanchard-image24-desktop: url("/course-work/img/image24.jpg");
    --blanchard-image31-desktop: url("/course-work/img/image31.jpg");
    --blanchard-image32-desktop: url("/course-work/img/image32.jpg");
    --blanchard-image33-desktop: url("/course-work/img/image33.jpg");
    --blanchard-image34-desktop: url("/course-work/img/image34.jpg");
    --blanchard-image41-desktop: url("/course-work/img/image41.jpg");
    --blanchard-image42-desktop: url("/course-work/img/image42.jpg");
    --blanchard-image43-desktop: url("/course-work/img/image43.jpg");
    --blanchard-image44-desktop: url("/course-work/img/image44.jpg");
    --blanchard-image51-desktop: url("/course-work/img/image51.jpg");
    --blanchard-image52-desktop: url("/course-work/img/image52.jpg");
    --blanchard-image53-desktop: url("/course-work/img/image53.jpg");
    --blanchard-image54-desktop: url("/course-work/img/image54.jpg");

/*шрифт*/
    --blanchard-font-family: 'open_sansregular';
    --blanchard-font-style-normal: normal;
    --blanchard-font-style-italic: italic;
    --blanchard-font-weight-normal: normal;
    --blanchard-font-weight-bold: 600;
    --blanchard-font-size-text-normal: 18px;
    --blanchard-font-size-text-small: 14px;
    --blanchard-font-size-text-large: 24px;
    --blanchard-font-size-text-extralarge: 72px;
    --blanchard-line-height-normal: 24.51px; 
    --blanchard-line-height-bold: 25px;
    --blanchard-line-height-small: 19px;
    --blanchard-line-height-large: 64px;
   
}